@import "tailwindcss";

@theme {
  --animate-fade-in: fadeIn 1s ease-in-out 1;
  --color-midnight-blue: #191970;
  --font-roboto: "Roboto", sans-serif;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
}

@utility fcb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@layer components {
  .product-card {
    @apply bg-white border border-gray-200 rounded-lg shadow-md
    hover:shadow-xl hover:scale-105 transition-all duration-300
    animate-fade-in;
  }

  .product-image {
    @apply h-48 object-cover rounded-t-lg w-full;
  }

  .product-title {
    @apply flex items-center text-xl font-semibold text-gray-800
    before:text-white before:text-xs before:font-bold before:rounded before:p-1
    before:mr-2;
  }

  .product-title-new {
    @apply before:content-['New'] before:bg-green-500 group-hover:before:bg-green-600
  }

  .product-title-sale {
    @apply before:content-['Sale'] before:bg-red-500 group-hover:before:bg-red-600
  }

  .product-description {
    @apply text-gray-600 text-sm leading-tight tracking-tight
  }

  .product-price {
    @apply text-lg font-bold text-green-600
  }

  .product-price-hover {
    @apply group-hover:text-xl group-hover:text-green-700 transition-all
  }

  .product-price-crossed {
    @apply relative before:absolute
    before:content-[''] before:w-full before:h-1 before:bg-red-500 
    before:top-1/2 before:left-1/2 before:-translate-y-1/2 before:-translate-x-1/2
  }

  .btn {
    @apply text-white py-1 px-3 rounded transition-all duration-300 active:scale-95
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-blue-400 to-green-400 hover:from-blue-500 hover:to-green-500 
  }
}